<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imapcloud.nest.v2.dao.mapper.BaseUavNestRefMapper">

    <update id="deleteByNestId">
        update base_uav_nest_ref set deleted=1, modifier_id = #{accountId}
        where deleted=0 and nest_id = #{nestId}
    </update>
</mapper>
