<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imapcloud.nest.v2.dao.mapper.DataInterestPointMapper">

    <sql id="tableName">data_interest_point</sql>

    <sql id="leftJoinPlanSql">
    </sql>

    <sql id="limitCondition">
        LIMIT #{restrict.limit} OFFSET #{restrict.offset}
    </sql>

    <sql id="orderCondition">
        ORDER BY t0.modified_time DESC, t0.id
    </sql>

    <sql id="whereCondition">
        <if test="criteria.pointName != null and criteria.pointName !=''">
            <bind name="nameLike" value="'%' + criteria.pointName + '%'"/>
            AND t0.point_name LIKE #{nameLike}
        </if>
        <if test="criteria.pointType != null and criteria.pointType != ''">
            AND t0.point_type = #{criteria.pointType}
        </if>
        <if test="criteria.orgCode != null and criteria.orgCode != ''">
            AND t0.org_code = #{criteria.orgCode}
        </if>
        <if test="criteria.tagId != null and criteria.tagId != ''">
            AND t0.tag_id = #{criteria.tagId}
        </if>
    </sql>


    <select id="countByCondition" resultType="long">
        SELECT
            COUNT(*)
        FROM
            <include refid="tableName"/> AS t0
        WHERE
            t0.deleted = 0
            <include refid="whereCondition"/>
    </select>

    <select id="selectByCondition" resultType="com.imapcloud.nest.v2.dao.entity.DataInterestPointEntity">
        SELECT
            t0.*
        FROM
            <include refid="tableName"/> AS t0
        WHERE
            t0.deleted = 0
            <include refid="whereCondition"/>
            <include refid="orderCondition"/>
            <include refid="limitCondition"/>
    </select>
</mapper>
