<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imapcloud.nest.mapper.EarlyWarningKeyMapper">
    <insert id="saveEntity">
        INSERT INTO nest_common_dev.early_warning_key ( `name`, `nest_id`, `token` )
        VALUES  ( #{entity.name},#{entity.nestId},#{entity.token});
    </insert>
</mapper>