<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imapcloud.nest.v2.dao.mapper.GridDataMapper">

    <insert id="batchInsert" parameterType="com.imapcloud.nest.v2.dao.entity.GridDataEntity">
        insert into grid_data (grid_manage_id, grid_data_id, west, south
        , east, north, line, col, seq, org_code)
        values
        <foreach collection="entityList" item="entity" separator=",">
            (#{entity.gridManageId}, #{entity.gridDataId}, #{entity.west}, #{entity.south}, #{entity.east}, #{entity.north}
            , #{entity.line}, #{entity.col}, #{entity.seq}, #{entity.orgCode})
        </foreach>
    </insert>

    <update id="batchDelete">
        <foreach collection="entityList" item="entity" separator=";">
            update grid_data
            set deleted = 1
            where grid_manage_id=#{entity.gridManageId}
              and org_code=#{entity.orgCode}
              and deleted=0
        </foreach>
    </update>

    <update id="batchUpdateOrgCode">
        <foreach collection="entityList" item="entity" separator=";">
            update grid_data
            set org_code = #{entity.orgCode}
            where grid_manage_id=#{entity.gridManageId}
            and deleted=0
        </foreach>
    </update>

</mapper>
