<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imapcloud.nest.mapper.InspectionPlanMapper">

    <select id="listAllPlanIgnoreDeleted" resultType="com.imapcloud.nest.model.InspectionPlanEntity">
        SELECT *
        FROM inspection_plan
        WHERE
            id IN
            <if test="planIds != null and planIds.size() > 0">
                <foreach collection="planIds" open="(" item="planId" separator="," close=")">
                    #{planId}
                </foreach>
            </if>
    </select>

</mapper>
